{% extends 'accumulus.html' %}

{% block body %}
<div class="decorateImage"><img width="100%" src="../static/orgiShell.jpg"></div>

<div class="words">
  <p>Accumulus Capital Management LLC, is a New York based Investment Management Company that specializes in structuring multimanager alternative asset portfolios. </p>
  <p>Founded in early 2001 by Benejamin Schliemann, who has extensive experience in Investment Management and Asset Allocation. </p>
</div>
<fieldset>
<legend>Enter your provided password to view private content</legend>
<div id="login">
  <form action='/logging' method ='post' class="pure-form">
          <input id="pass" name ="pass" type="password" placeholder="Password">
          <button type="submit" class="pure-button pure-button-primary login">Sign in</button>
  </form>
</div>
</fieldset>
{% endblock %}
