<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Accumulus Capital Management, LLC</title>
</head>
	<meta http-equiv="Content-language" content="en-US" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="description" content="Accumulus Capital specializes in alternative investment management advice and portfolio management" />
	<meta name="keywords" content="accumulus, advisors, alternative investment, financial, global, advice, consultants" />
<body bgcolor="#445D62">
</P><P>
</P><P>
</P><P>
</P><P>
</P><P>
</P><P>
</P><P>
</P><P>
</P><P>
</P><P>

<div id="container">
	<div id="header">
		<div id="logo">

<center>
			<img src="logo scan.jpg" alt="Accumulus Capital Management LLC" />
		
		<div id="address">
			<ul>
				110 East 59th Street<brk>
				New York, NY 10022<brk>
				Phone: 212-490-7570<brk>
				Facsimile: 212-490-7576<brk>
				<a href="mailto:accumulus@accumuluscapital.com">Contact us at accumulus@accumuluscapital.com</a><brk>
			</ul>
		</div>
	</div>
</center>

<CENTER><A HREF=../philosophybios.html> <h3><i>Philosophy Statement and Biographies</i></A></CENTER></H3>



</body>
</html>
