{% extends 'accumulus.html' %}

{% block body %}

<div class="words">

<div class="header">Publications</div>
<p>
The justification for investing in a multi-manager product is not simply the statistical diversification of manager risk, but the expectation that through research, due diligence, and market analysis it is possible to build a concentrated portfolio of above average managers that will over time out-perform both markets and the major hedge fund indices.

We believe that out performance can be achieved by taking less risk, not more.
</p><p>
Our conviction is that managers should be independent, focused, hard working, and of the highest integrity. Experienced, with a loyal investor base, our managers thoroughly reject rules-based investment thinking and focus on a relatively concentrated portfolio of well-researched, high-conviction ideas. We do not invest with asset gatherers.

We do not try to time markets or strategies but instead seek out managers that are sufficiently versatile and nimble to prosper in different market environments.
</p>

</div>
{% endblock %}
