{% extends 'accumulus.html' %}

{% block body %}
<div class='header'>Team</div>
<hr>
<div id="Benjamin" style="display: none">
  Benjamin Schliemann, Managing Principal, Founder and Chief Investment Officer
  Prior to founding Accumulus Capital Management in 2001, Mr. Schliemann spent 10 years as Vice President & Partner of Hanseatic Corporation, New York and Hamburg,
  an alternative investment management firm. At Hanseatic he established a family office operation, advised on asset allocation, and analyzed, executed and monitored investments. From 1990-1991 Mr. Schliemann was an Associate with M.M. Warburg & Co. in Hamburg, Frankfurt, and Luxembourg. From 1994 to 2001 he served as the New York Representative of M.M.Warburg & Co. In 1996 Mr. Schliemann was the seed investor in Pharmaceutical Partners LLC and joined its Advisory Board; In 1999 Pharmaceutical Partners became Royalty Pharma AG and Mr. Schliemann served as Chairman of the board until 2003. Mr. Schliemann also co-founded Pharmakon Advisors LP in 2009
  and is one of its three principals, together with Messrs.' Legorreta and Gonzalez de Cosio. Mr. Schliemann received a B.A. (Honours) and M.A. in Modern History from Oxford University.
</div>
<div id="Barclay" style="display: none">
  Barclay Leib, Director of Research
  Having worked in the financial industry for 34 years, Mr. Leib was most recently the Head of Alternatives Research at Fortigent LLC (a research platform and advisor to over $70 bln of wealth management assets).
  Prior to joining Fortigent in 2013, Mr. Leib ran his own alternative asset consulting business, Sand Spring Advisors LLC, for thirteen years. He worked closely over that period with two partner organizations, Weston Capital Management LLC (2000-2007) and Glenrock Asset Management (2007-2012).
  Prior to this period, Mr. Leib worked for twenty years within the derivatives and proprietary trading areas of a number of major banks including Goldman Sachs, Societe Generale, Barclays Bank, and JP Morgan. At Morgan in the early 1980's, he founded the bank's global commodity options trading department and also ran global currency derivatives trading. Mr. Leib has contributed to two financial books as well as numerous articles for Institutional Investor, Plan Sponsor, Derivatives Strategy, Global Custodian, and Financial Executive magazines.
  He hails originally from Princeton University's Woodrow Wilson School of International & Public Affairs where he was named a Wilson Scholar (a distinction deemed "above Highest Honors").
</div>
<div id="Danielle" style="display: none">
</div>
<div id="Gregory" style="display: none">
  Gregory Levine, General Counsel and Chief Compliance Officer...Joined the Firm in 2012. General Counsel and Chief Compliance Officer. Mr. Levine is responsible for managing legal and regulatory compliance matters.
  He is an attorney with broad corporate and securities experience as counsel to investment advisors, hedge funds, investment management and corporate financial advisory firms.
  He provides the firm with general corporate counsel and serves as the firm's chief compliance officer.
  Mr. Levine holds a bachelor degree from Tulane University (1984) and a juris doctor degree from Tulane University School of Law (1989).
</div>
<div id="Dawn" style="display: none">
  Dawn Amato, Office Manager...Dawn has worked with Accumulus for over a decade.
  She previously worked for Ziff Brother Investments as a Family Financial Administrator and an Executive Assitant,
  and for Ziff-Davis Publishing earlier in her career. She graduated from the Berkeley School.
</div>
<div class="teamLinks">
  <h2 id='BenLink'> Benjamin Schliemann </h2>
  <h2 id='BarcLink'> Barclay Lieb </h2>
  <h2 id="DanLink"> Danille Ballmoss </h2>
  <h2 id ="GregLink"> Gregory Levine </h2>
  <h2 id="DawnLink"> Dawn Amato </h2>
</div>

<script>
var activate = function() {
  document.getElementById("BenLink").addEventListener("mouseover", showBio(BenLink) );
  document.getElementById("BarcLink").addEventListener("mouseover", showBio(BarcLink) );
  document.getElementById("DanLink").addEventListener("mouseover", showBio(DanLink) );
  document.getElementById("GregLink").addEventListener("mouseover", showBio(GregLink) );
  document.getElementById("DawnLink").addEventListener("mouseover", showBio(DawnLink) );
}

var showBio = function(cssId) {
  divs = document.getElementByTagName("div");
  for (i= 0; i< divs.length; i++) {
    if (divs[i].style.display !="none"){
      document.style.display = "none";
    }
  }
  document.getElementById(cssId).style.display = "inline";
  console.log("Succeed");
};
</script>
{% endblock %}
